h1{
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .0,1em;
    top: 15%;
	background: linear-gradient(to right, rgb(251, 249, 249), rgb(205, 208, 208)); /* Standard syntax */
}
